* {
    margin:0;
    margin:0;
    box-sizing: border-box;
}

html {
    color: #555555;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}
.box {
    padding: 1%;
}

/*-------------IKOONID------------------*/

.icon-big {
    
    font-size: 400%;
    display: block;
    color: #169e83;
    text-align: center;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #169e83;   
    font-size: 120%;
    margin-right: 10px;
}

/*----------PARAGRAPHS-------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
    text-align: center;

}
/*----------FONTS-----------*/

h1, 
h2,
h3 { 
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #169e83;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    margin-bottom: 20px;
    text-align: center;
}

/*----------HEADER----------*/

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/DUDfOeTOqk6vh7L84WGw_group_fitness.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*------LINKS----------*/

a:link,
a:visited {
    color: #169e83;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #169e83;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555555;
    border-bottom: 1px solid transparent;
}

/*------BUTTONS-------*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.3s, border 0.2s, color 0.2s;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #1abc9c;
    color: #1abc9c;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #169e83;
    color: #fff;
    background-color: #169e83;
}

/*--------ÜLEMINE NAV BAR---------*/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #169e83;
}

/*-------HOW IT WORKS----------*/

.section-steps {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/groupfitness-vs-personaltraining.jpg) ;
    background-size: cover;
    background-position: center;
    height: auto;
    background-attachment: fixed;
    color: #fff;
}

.steps-box p {
    padding-top: 8px;
}

.steps-box {
    margin-top: 30px;
    margin-left: 10%;
}

.steps-box:first-child {
    text-align: left;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 60%;
    height: auto;
    background-color: #555555;
}

.works-step {
    margin-bottom: 60px;

}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #169e83;
    border: 2px solid #169e83;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    font-size: 150%;
    padding: 8px;
    float: left;
    margin-right: 25px;
}

.btn-app:link,
.btn-visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*--------FOOTER---------*/

footer {
    background-color: #333333;
    padding: 40px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #dddddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 170%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram,
.ion-social-snapchat {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #e95950;
}

.ion-social-snapchat:hover {
    color: #fffc00;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 20px;
}

/*-------CITIES------------*/

.box img {
    width: 100%;
    height: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}


